html {
    background-color: slategray;
}

body {
    background-color: slategray;
}

.container_set {
    margin: 1em;
}

.sidemenu {
    background-color: white;
    border-radius: 25px;
}

.sideinfo {
    background-color: white;
    border-radius: 25px;
    padding: 10px;
}

.filter {
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
}

#map-id {
    background-color: lightgray;
    border-radius: 25px;
    min-height: 250px;
    min-width: 100%;
    text-align: center;
    padding: 50px;
}

#bar-id {
    background-color: lightgray;
    border-radius: 25px;
    min-height: 250px;
    min-width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 50px;
}

#line-id {
    border-radius: 25px;
    min-height: 250px;
    min-width: 100%;
    text-align: center;
    margin-top: 20px;
    overflow: auto;
}

.hasDatepicker {
    max-width: 100%;
}


/* PADDING */

.pd-r-0 {
    padding-right: 0px !important; 
}

.pd-l-0 {
    padding-left: 0px !important;
}